doctype html
html
  head
    title #{title} - Ship2
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Ship2
    .container
      .main-content
        block content
      .sidebar
        block sidebar
              .main-content
    footer
      p Created by J.Redgrave Sues husband
